# dependencies
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# test & tooling output
/coverage/
/report/

# env
.env
.env.example

# misc
.DS_Store
*.log
.claude