# dependencies
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# test & tooling output
/coverage/
/report/
apps/api/generated/

# env
.env

# misc
.DS_Store
*.log
.claude